ion-header{
  --background: transparent;
}

ion-toolbar{
  --padding-start: 0;
  --padding-end: 0;
}

.logo {
  width: 200px; 
  height: 50px;
  margin-left: 16px;
}

.centered-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.page-title {
  font-size: 4rem;
  margin-bottom: 25px;
}